/*  your css code here. If applicable */
.container{
	border: 1px;
	width: 400px;
	height: 600px;
	padding: 20px;
	background-color: #F5F5F5;
	box-shadow: 5px 5px 15px #888888;
	text-align: center;
	margin-left: 80px;
	margin-top: 50px;
}
img{
	width: 300px;
	height: 200px;
	margin-top: 20px;
}
h1{
	font-size: 45px;
	margin-top: 10px;
}
p{
	font-size: 30px;
}
button{
	background-color: #FF6347;
	color: white;
	border-radius: 10px;
	width: 120px;
	height: 50px;
	border: 1px;
	font-size: 20px;
}